@import url('https://fonts.googleapis.com/css?family=Source%20Code%20Pro:700|Noto%20Sans%20Mandaic:400');

:root {
	--text: hsl(80, 6%, 90%);
	--background: hsl(84, 14%, 7%);
	--primary: hsl(87, 22%, 74%);
	--secondary: hsl(85, 31%, 33%);
	--shadow: hsla(85 40% 57% / 0.1);
	--accent: hsl(85, 40%, 57%);

	--padding-global: 1rem;

}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	/* outline: 1px solid red; */
}

html {
	font-size: 100%;
}

body {
	background-color: var(--background);
	color: var(--text);
	font-family: 'Noto Sans Mandaic';
	font-weight: 400;
	font-size: clamp(1rem, 0.417vw + 0.917rem, 1.25rem);
}

h1,
h2,
h3,
h4,
h5 {
	color: var(--primary);
	font-family: 'Source Code Pro';
	font-weight: 700;
	text-wrap: balance;
	margin: 0 0 1rem;
}

h1 {
	font-size: clamp(2rem, 3.75vw + 1.25rem, 4.25rem);
	line-height: clamp(2.4rem, 3.792vw + 1.642rem, 4.675rem);
}

h2 {
	font-size: clamp(1.75rem, 2.292vw + 1.292rem, 3.125rem);
	line-height: clamp(2.1rem, 2.229vw + 1.654rem, 3.438rem);
}

h3 {
	font-size: clamp(1.5rem, 1.458vw + 1.208rem, 2.375rem);
	line-height: clamp(1.8rem, 1.354vw + 1.529rem, 2.613rem);
}

p {
	line-height: 1.5;
	margin: 0 0 1rem;
}

small {
	font-size: clamp(0.75rem, 0.417vw + 0.667rem, 1rem);
	line-height: 1.5;
	margin: 0 0 1rem;
}

a {
	display: flex;
	align-items: center;
	color: inherit;
}

a:hover {
	color: var(--secondary);
}

a[target="_blank"] {
	align-items: flex-start;
}

a[target="_blank"]::after {
	margin: 0 0.2rem;
	width: 1rem;
	height: 1rem;
	border: solid 2px;
	border-top: none;
	border-right: none;
	border-radius: 0.2rem;

	content: '↗';
	font-size: 1.2rem;
	font-weight: 700;

	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.anchor__icon svg {
	margin: 0 0.2rem 0 0;
	width: 1.5rem;
}


.profile {
	position: relative;
	padding: var(--padding-global);
	display: grid;
	grid-template: 1fr / 1fr;
	overflow: hidden;
}

.profile::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	bottom: 0;
	left: 0;
	z-index: -1;
	transform-origin: bottom right;
	transform: scale(2) rotate(15deg);
	background-color: var(--secondary);
}

.profile__img {
	margin: 0;
	background-color: red;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
	grid-row: 1;
	grid-column: 1;
}

.profile__name {
	padding: 1rem;
	align-self: end;
	grid-row: 1;
	grid-column: 1;

}

.about {
	padding: var(--padding-global);
}

h2,
.about__social {
	text-align: center;
}

.about__social,
.contact__social {
	font-size: 3rem;
	display: flex;
	gap: 1rem;
	justify-content: center;
}

.about__social a {
	color: var(--text);
	text-decoration: none;
}

.contact__social a {
	color: var(--background);
	text-decoration: none;
}

.about__social a:hover,
.contact__social a:hover {
	color: var(--secondary);
}

main {
	padding: var(--padding-global);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.portfolio {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	grid-template-rows: 1;
	margin: 2rem 0;
	gap: 4rem;
}

.portfolio__project {
	box-shadow: 0 10px 40px 10px var(--shadow);
	border-radius: 1rem 1rem 0.5rem 0.5rem;
}

.project__img {
	width: 100%;
	aspect-ratio: 3/2;
	background-color: blue;
	border-radius: 0.5rem 0.5rem 0 0;
	object-fit: cover;
}

.project__card {
	padding: calc(var(--padding-global) / 2);
}

.project__links {
	text-decoration: none;
	font-size: 2rem;
	color: var(--primary);
}

.card__name {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
}

footer {
	background-color: var(--primary);
	color: var(--background);
	display: flex;
	flex-direction: column;
}

footer h2 {
	color: var(--secondary);
}

.footer__contact {
	display: flex;
	padding: var(--padding-global);
	flex-direction: column;
	gap: 1rem;
}

.footer__img {
	margin: 0;
	background-color: red;
	height: 100%;
	width: 100%;
	aspect-ratio: 1;
	object-fit: cover;
}

@media screen and (width >=375px) {
	:root {
		--padding-global: 2rem;
	}
}

@media screen and (width >=700px) {
	:root {
		--padding-global: 3rem;
	}
	h2 {
		text-align: left;
	}

	footer {
		flex-direction: row;
		align-items: center;
	}

	footer>* {
		flex: 1;
	}

	.about__social {
		display: none;
	}

	.contact__social {
		justify-content: flex-start;
	}

	.footer__img {
		margin: var(--padding-global);
		min-height: 400px;
		border-radius: 1rem;

		aspect-ratio: 2 /3;
	}
}


/* Accesibilidad */
.hidden,
[hidden] {
	display: none !important;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
